<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span>{{title}}</span>
    <span class="fill-remainig-space"></span>
    <span> Angular-Firebase</span>
</mat-toolbar>
<mat-card>
    <mat-select class="col-md-2" placeholder="Ciudad" (change)="onSelect($event.value)">
        <mat-option *ngFor="let ciudad of ciudades " [value]="ciudad">
            {{ciudad}}
        </mat-option>
    </mat-select>
</mat-card>
<mat-card>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellidos</th>

                <th>Dirección</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contacto of contactos ; let i=index">
                <td>{{i+1}}</td>
                <td>{{contacto.nombre}}</td>
                <td>{{contacto.apellidos}}</td>

                <td>{{contacto.direccion}}</td>

                <td>
                    <button mat-raised-button color="primary" (click)="onClick(contacto)">Detalles</button>
                    <button mat-raised-button color="accent" (click)="onEditar(contacto)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>
<app-editar [contacto]="contactoEditar" (cerrar)="cerrarEdicion()"></app-editar>
<!--app-detalles [contact]="contacto" (close)="closeDetalles()"></app-detalles-->